AIRFLOW_UID=your_airflow_uid
FERNET_KEY=your_fernet_key

OPENFOODFACTS_USER_AGENT=portfolio-data-pipeline/0.1 (https://github.com/YOUR_USERNAME/YOUR_REPO)
OPENFOODFACTS_INITIAL_WATERMARK=2026-08-01T00:00:00+00:00
OPENFOODFACTS_LOOKBACK_HOURS=hours_to_lookback
OPENFOODFACTS_MAX_PAGES=max_pages_to_try

MINIO_ROOT_USER=your_local_minio_user
MINIO_ROOT_PASSWORD=your_local_minio_password

AWS_ACCESS_KEY_ID=your_local_access_key
AWS_SECRET_ACCESS_KEY=your_local_secret_key
AWS_DEFAULT_REGION=us-east-1

S3_ENDPOINT_URL=http://localhost:9000
RAW_BUCKET=portfolio-data-raw

PIPELINE_DB_NAME=portfolio
PIPELINE_DB_USER=your_pipeline_db_user
PIPELINE_DB_PASSWORD=your_pipeline_db_password
PIPELINE_DB_HOST=localhost
PIPELINE_DB_PORT=5433