AIRFLOW_UID=your_airflow_uid
FERNET_KEY=your_fernet_key

OPENFOODFACTS_USER_AGENT=portfolio-data-pipeline/0.1 (https://github.com/YOUR_USERNAME/YOUR_REPO)

MINIO_ROOT_USER=your_local_minio_user
MINIO_ROOT_PASSWORD=your_local_minio_password