.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

.env
.env.local

logs/*
!logs/.gitkeep

data/local/*
!data/local/.gitkeep

.DS_Store

.idea/

airflow.db
airflow.cfg

coverage.xml
.coverage
htmlcov/

*.egg-info/
build/
dist/